.env
aws-deploy/deploy.env

# Generated media artifacts
backend/media/audio/*
backend/media/exercise-images/*
frontend/node_modules/*
frontend/dist/
/low-cost-deploy/backend.env
/low-cost-deploy/deploy.env
